* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray: #333;
    --blue: rgb(45, 59, 255);
}

body{
    font-family: Montserrat;
}
#canvas{
    display: block;
    transition: 1s;
    /* background-image: url(./background.png);
    background-position: center;
    background-repeat: repeat; */
}

.learnHotKeysWindow{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    position: fixed;
    flex-direction: column;
    border-radius: 15px 15px 0px 15px;
    display: none;
}
.row{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    margin: 5px;
    justify-content: space-between;
}
.row div{
    padding: 2px;
    background-color: var(--blue);
    font-weight: 700;
    border-radius: 10px;
    color: black;
}

.controlContainer{
    width: 200px;
    height: 100%;
    background-color: var(--gray);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: -200px;
    top: 0px;
    transition: 1s;
}
.logo{
    margin-top: 10px;
    color: white;
    font-weight: 800;
    content: 'canvas-paint';
    font-family: Montserrat;
    font-size: 25px;
}


#save{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    position: relative;
    bottom: 10px;
}
.learnKey{
    width: 150px;
    height: 35px;
    background-color: transparent;
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.learnKey div{
    padding: 10px;
    border: none; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    font-weight: 600;
}
.learnKey i{
    font-size: 20px;
}

.mainCtrl{
    width: 90%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 15px;
    bottom: 30px;
    position: relative;
}
.standart{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.colorBox{
    width: 120px;
    height: 60px;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
}
.colorBox input{
    width: 100%;
    height: 60px;;
    display: flex;
    cursor: pointer;
    opacity: 0;
    background-color: transparent;
    border-radius: 10px;
}



.changeColor{
    width: 100px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.452);
    position: fixed;
    border-radius: 15px 15px 15px 0px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.changeColor div{
    width: 40px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 5px;
    margin: 5px;
}
.nameEnd{
    width: 25%;
    height: 50%;
    background-color: #333;
    display: none;
    border: 2px solid black;
    position: fixed;
    top: 25%;
    left: 37.5%;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
}
.nameEnd div{
    margin-bottom: 2%;
    display: flex;
    width: 100%;
    height: 6%;
    justify-content: center;
}
.nameEnd input{
    width: 60%;
    height: 100%;
}
.nameEnd button, .nameEnd select{
    width: 15%;
    height: 100%;
}


.typeDraw{
    width: 70%;
    height: 50px;
    flex-wrap: wrap;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.typeDraw button{
    width: 40px;
    height: 30px;

}